{
  "Fn::Join": [
    "",
    [
      "{% block description %}{% endblock %}\n",
      "Stage and environment: ", {"Ref": "LogGroupName"}, "\n",
      "Application: ", {"Ref": "ApplicationName"}, "\n",
      "Manual: {% block manual_url %}{% endblock %}\n",
      "\n",
      "MetricNamespace: ", {"Ref": "EnvVarDmMetricsNamespace"}, "\n",
      "LogGroupName: ", {"Ref": "LogGroupName"}, "\n"
    ]
  ]
}
