{
  "Fn::Join": [
    "",
    [
      "Too many 5xx\n",
      "Stage and environment: ", {"Ref": "LogGroupName"}, "\n",
      "Application: ", {"Ref": "ApplicationName"}, "\n",
      "Manual: https://github.gds/pages/gds/digitalmarketplace-manual/alerts.html#5xx-error-rate\n",
      "\n",
      "MetricNamespace: ", {"Ref": "EnvVarDmMetricsNamespace"}, "\n",
      "LogGroupName: ", {"Ref": "LogGroupName"}, "\n"
    ]
  ]
}
