{% extends "alarms/base_alarm.j2" %}

{% block description %}Too many 5xx{% endblock %}

{% block manual_url %}https://github.gds/pages/gds/digitalmarketplace-manual/alerts.html#5xx-errors{% endblock %}
