{% extends "alarms/base_alarm.j2" %}

{% block description %}Login failure rate too high{% endblock %}

{% block manual_url %}https://github.gds/pages/gds/digitalmarketplace-manual/alerts.html#login-failure-rate{% endblock %}
