# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

boto3
click
Jinja2
PyYAML
awscli
requests
docopt
bcrypt
yq
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
