---
key_name: ***

dev_user_ip: ***
admin_user_ips:
  - ***

api:
  auth_tokens:
    - ***

database:
  password: ***

search_api:
  auth_tokens:
    - ***

admin_frontend:
  admin_password_hash: ***
  cookie_secret: ***

supplier_frontend:
  mandrill_key: ***
  password_key: ***
