---

applications:
  - name: {{ app|replace('_', '-') }}-release
    routes:
{% for path in (paths|default([''])) %}
      - route: {{ subdomain }}-{{ environment }}.cloudapps.digital{{ path }}
{% endfor %}
    instances: {{ instances|default(1) }}
    memory: {{ memory|default('512M') }}
    disk_quota: {{ disk_quota|default('1024M') }}
    health-check-type: http
    health-check-http-endpoint: {{ (paths|default(['']))[0] }}/_status?ignore-dependencies
    env:
      DM_APP_NAME: {{ app }}
      DM_ENVIRONMENT: {{ environment }}
      DM_METRICS_NAMESPACE: {{ environment }}-{{ environment }}/{{ app }}

      DM_LOG_PATH: ''
      {% block env %}
      {% endblock %}

    {% if services|default([])|length > 0 -%}
    services:
      {% for service in services -%}
        - {{ service }}
      {% endfor -%}
    {% endif %}
