---

applications:
  - name: {{ app|replace('_', '-') }}-release

    {% block routes %}
    {% if routes is defined %}
    routes:
      {% for route in routes %}
      - route: {{ route.format(env=environment) }}
      {% endfor %}
    {% endif %}
    {% endblock %}

    {% block health_check %}
    {% if routes is defined %}
    health-check-type: http
    health-check-http-endpoint: {{ routes[0].partition('/')[1:]|join("") }}/_status?ignore-dependencies
    {% endif %}
    {% endblock %}

    instances: {{ instances|default(1) }}
    memory: {{ memory|default('512M') }}
    disk_quota: {{ disk_quota|default('2G') }}
    {% block extra %}
    {% endblock %}

    env:
      DM_APP_NAME: {{ app }}
      DM_ENVIRONMENT: {{ environment }}

      PROMETHEUS_METRICS_PATH: /_metrics
      METRICS_BASIC_AUTH: false

      DM_LOG_PATH: ''

      {% if env|default([])|length > 0 %}
        {% for k, v in env.items() %}
      {{ k }}: {{ v }}
        {% endfor %}
      {% endif %}
      {% block env %}
      {% endblock %}

    {% if services|default([])|length > 0 %}
    services:
      {% for service in services %}
        - {{ service }}
      {% endfor %}
    {% endif %}
