{% extends "_base.j2" %}

{% block env %}
      AWS_ACCESS_KEY_ID: {{ aws_access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ aws_secret_access_key }}

      DM_API_AUTH_TOKENS: {{ api.auth_tokens|join(':') }}

      DM_API_CALLBACK_AUTH_TOKENS: {{ api.callback_auth_tokens|join(':') }}

      DM_SEARCH_API_AUTH_TOKEN: {{ search_api.auth_tokens[0] }}
      DM_SEARCH_API_URL: https://dm-search-api-{{ environment }}.cloudapps.digital
{% endblock %}
