{% extends "_base.j2" %}

{% block routes %}
    no-route: true
{% endblock %}

{% block health_check %}
    health-check-type: none
    no-route: true
{% endblock %}

{% block extra %}
    command: sleep 2h
{% endblock %}

{% block env %}
      DUMP_FILE_NAME: {{ DUMP_FILE_NAME }}
      S3_POST_URL_DATA: '{{ S3_POST_URL_DATA }}'
      RECIPIENT: {{ RECIPIENT|default('Digital Marketplace DB backups') }}
{% endblock %}
