{% extends "_base.j2" %}

{% block routes %}
    no-route: true
{% endblock %}

{% block health_check %}
    health-check-type: none
{% endblock %}

{% block extra %}
    command: sleep 2h
{% endblock %}
