{% extends "_base.j2" %}

{% block env %}

      AWS_ACCESS_KEY_ID: {{ aws_access_key_id }}
      AWS_SECRET_ACCESS_KEY: {{ aws_secret_access_key }}

      DM_SEARCH_API_AUTH_TOKENS: {{ search_api.auth_tokens|join(':') }}
{% endblock %}
