{% macro proxy_headers() %}

proxy_redirect http:// https://;
proxy_set_header Host $proxy_host;

# set proxy headers here. proxy_set_header *only* looks at the deepest nested invocation, so if any
# additional headers are set further down the conf stack these will need to be duplicated there as well

proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto https;
proxy_set_header X-Forwarded-Host "$http_host";

proxy_set_header DM-Request-ID "";

{% endmacro %}
