server {
    listen 80;
    server_name {{ api_subdomain }}.*;

    set $api_url "{{ api_url }}";

    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_set_header DM-Request-ID "";

        proxy_redirect http:// https://;

        proxy_pass $api_url;
    }
}

server {
    listen 80;
    server_name {{ search_api_subdomain }}.*;

    set $search_api_url "{{ search_api_url }}";

    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_set_header DM-Request-ID "";

        proxy_redirect http:// https://;

        proxy_pass $search_api_url;
    }
}
