{% from "_macros.j2" import proxy_headers with context %}
server {
    listen 80;
    server_name api.*;

    set $api_url "{{ api_url }}";

    {% for dev_ip in dev_user_ips.split(",") %}
    allow {{ dev_ip }};
    {% endfor %}
    deny all;

    location / {
        {{ proxy_headers() }}
        proxy_pass $api_url;
    }
}

server {
    listen 80;
    server_name search-api.*;

    {% for dev_ip in dev_user_ips.split(",") %}
    allow {{ dev_ip }};
    {% endfor %}
    deny all;

    set $search_api_url "{{ search_api_url }}";

    location / {
        {{ proxy_headers() }}
        proxy_pass $search_api_url;
    }
}
