server {
    listen 80;
    server_name {{ assets_subdomain }}.*;
    error_page 400 401 402 403 404 = /404;

    set $documents_s3_url "{{ documents_s3_url }}";
    set $g7_draft_documents_s3_url "{{ g7_draft_documents_s3_url }}";
    set $buyer_frontend_url "{{ buyer_frontend_url }}";
    set $agreements_s3_url "{{ agreements_s3_url }}";
    set $communications_s3_url "{{ communications_s3_url }}";
    set $submissions_s3_url "{{ submissions_s3_url }}";

    location /robots.txt {
        alias {{ static_files_root }}/robots_assets.txt;
    }

    location / {
        proxy_intercept_errors on;

        proxy_pass $documents_s3_url;
    }

    location ~ ^/[^/]+/documents/ {
        proxy_intercept_errors on;

        proxy_pass $documents_s3_url;
    }

    location ~ ^/[^/]+/agreements/ {
        proxy_intercept_errors on;

        proxy_pass $agreements_s3_url;
    }

    # Hack to force g7 communications to the old bucket to preserve upload times
    location ^~ /g-cloud-7-updates/communications {
        proxy_intercept_errors on;

        proxy_pass $g7_draft_documents_s3_url;
    }

    location ~ ^/[^/]+/communications/ {
        proxy_intercept_errors on;

        proxy_pass $communications_s3_url;
    }

    location ~ ^/[^/]+/submissions/ {
        proxy_intercept_errors on;

        proxy_pass $submissions_s3_url;
    }

    location /g-cloud-7 {
        proxy_intercept_errors on;

        proxy_pass $g7_draft_documents_s3_url;
    }

    location /404 {
        proxy_pass $buyer_frontend_url;
    }

    location /static {
        proxy_pass $buyer_frontend_url;
    }
}
