server {
    listen 80;
    server_name www.digitalservicesstore.service.gov.uk digitalservicesstore.service.gov.uk;

    location / {
        return 301 https://www.digitalmarketplace.service.gov.uk;
    }
}
