server {
    listen 80 default_server;

    # unset HSTS header
    add_header Strict-Transport-Security "";

    location /_status {
        access_log off;
        return 200 'nginx healthcheck status ok\n';
    }
}
