{% from "_macros.j2" import proxy_headers with context %}
server {
    listen 80;
    server_name www.*;

    {% for user_ip in user_ips.split(",") %}
    allow {{ user_ip }};
    {% endfor %}
    deny all;

    set $frontend_url "{{ frontend_url }}";

    location /robots.txt {
        alias {{ static_files_root }}/robots_www.txt;
    }

    location / {
        {{ proxy_headers () }}
        proxy_set_header Authorization "Basic {{ app_auth }}";

        proxy_pass $frontend_url;
    }

    location /admin {
        {% for admin_ip in admin_user_ips.split(",") %}
        allow {{ admin_ip }};
        {% endfor %}
        deny all;

        {{ proxy_headers () }}
        proxy_set_header Authorization "Basic {{ app_auth }}";

        proxy_pass $frontend_url;
    }
}
