server {
    listen 80;
    server_name {{ www_subdomain }}.*;

    set $buyer_frontend_url "{{ buyer_frontend_url }}";
    set $admin_frontend_url "{{ admin_frontend_url }}";
    set $supplier_frontend_url "{{ supplier_frontend_url }}";

    location /robots.txt {
        alias {{ static_files_root }}/robots_www.txt;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_set_header DM-Request-ID "";

        proxy_redirect http:// https://;

        proxy_pass $buyer_frontend_url;
    }

    location /admin {
        {% for admin_ip in admin_user_ips.split(",") %}
        allow {{ admin_ip }};
        {% endfor %}
        deny all;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_set_header DM-Request-ID "";

        proxy_redirect http:// https://;

        proxy_pass $admin_frontend_url;
    }

    location ~ ^/suppliers(/|$) {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_set_header DM-Request-ID "";

        proxy_redirect http:// https://;

        proxy_pass $supplier_frontend_url;
    }
}
