[general]
state_file = /var/awslogs/state/agent-state

[nginx-access-log]
file = /var/log/nginx/access.log
log_group_name = {{ cloudwatch_log_group }}
log_stream_name = {hostname}
datetime_format = %d/%b/%Y:%H:%M:%S %z

[nginx-json-access-log]
file = /var/log/nginx/access_json.log
log_group_name = {{ cloudwatch_log_group }}-json
log_stream_name = {hostname}
datetime_format = %d/%b/%Y:%H:%M:%S %z
