[general]
state_file = /var/awslogs/state/agent-state

[nginx-error-log]
file = /var/log/nginx/error.log
log_group_name = {{ error_log_group }}
log_stream_name = {hostname}
datetime_format = %Y/%m/%d %H:%M:%S

[nginx-json-access-log]
file = /var/log/nginx/access_json.log
log_group_name = {{ json_log_group }}
log_stream_name = {hostname}
datetime_format = %d/%b/%Y:%H:%M:%S %z
